services:
  budget_mongo:
    image: mongo:8.0
    container_name: budget_mongo_container
    networks:
      - budget_back_tier
    restart: always
    volumes:
      - mongo_database:/data/db
  budget_server:
    build:
      dockerfile: Dockerfile
      context: ./server
    container_name: budget_server_container
    hostname: budget_server_host
    networks:
      - budget_back_tier
      - budget_front_tier
    ports:
      - '${SERVER_OUTSIDE_PORT}:${SERVER_DOCKER_PORT}'
    environment:
      MONGO_URI: ${MONGO_URI}
    restart: always
    depends_on:
      - budget_mongo
  budget_client:
    build:
      dockerfile: Dockerfile
      context: ./client
    container_name: budget_client_container
    hostname: budget_client_host
    networks:
      - budget_back_tier
      - budget_front_tier
    ports:
      - '${CLIENT_OUTSIDE_PORT}:${CLIENT_DOCKER_PORT}'
    restart: always
    depends_on:
      - budget_server
  budget_mongo_express:
    image: mongo-express:1.0
    container_name: budget_mongo_express_container
    ports:
      - '${ME_OUTSIDE_PORT}:${ME_DOCKER_PORT}'
    networks:
      - budget_back_tier
    environment:
      ME_CONFIG_MONGODB_URL: ${ME_CONFIG_MONGODB_URL}
      ME_CONFIG_BASICAUTH_USERNAME: ${ME_CONFIG_BASICAUTH_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${ME_CONFIG_BASICAUTH_PASSWORD}
    restart: always
  budget_nginx_proxy:
    image: nginx:stable-alpine
    container_name: budget_nginx_proxy_container
    ports:
      - '8030:80'
      - '445:443'
    volumes:
      - './config/index.html:/var/www/html/index.html'
      - './config/nginx.conf:/etc/nginx/nginx.conf'
      - '/etc/letsencrypt:/etc/letsencrypt'
    depends_on:
      - budget_client
      - budget_server
      - budget_mongo
    networks:
      - budget_front_tier
      - budget_back_tier
    restart: always

volumes:
  mongo_database:

networks:
  budget_front_tier:
  budget_back_tier: