services:
  budget_nginx:
    image: nginx:stable-alpine
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
      - '/etc/letsencrypt:/etc/letsencrypt'
    depends_on:
      - budget_client
      - budget_server
    networks:
      - app_tier
    restart: always
  budget_mongo:
    image: mongo:8.0
    container_name: budget_mongo_container
    networks:
      - db_tier
    restart: always
    volumes:
      - mongo_database:/data/db
  budget_server:
    build:
      dockerfile: Dockerfile
      context: ./server
    container_name: budget_server_container
    hostname: budget_server_host
    networks:
      - db_tier
      - app_tier
    ports:
      - '${SERVER_OUTSIDE_PORT}:${SERVER_DOCKER_PORT}'
    environment:
      MONGO_URI: ${MONGO_URI}
    restart: always
    depends_on:
      - budget_app_mongo
  budget_client:
    build:
      dockerfile: Dockerfile
      context: ./client
    container_name: budget_client_container
    hostname: budget_client_host
    networks:
      - app_tier
    ports:
      - '${CLIENT_OUTSIDE_PORT}:${CLIENT_DOCKER_PORT}'
    restart: always
    depends_on:
      - budget_app_server
  budget_mongo_express:
    image: mongo-express:1.0
    container_name: budget_mongo_express_container
    networks:
      - db_tier
    ports:
      - '${ME_OUTSIDE_PORT}:${ME_DOCKER_PORT}'
    environment:
      ME_CONFIG_MONGODB_URL: ${ME_CONFIG_MONGODB_URL}
      ME_CONFIG_BASICAUTH_USERNAME: ${ME_CONFIG_BASICAUTH_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${ME_CONFIG_BASICAUTH_PASSWORD}
    restart: always

volumes:
  mongo_database:

networks:
  db_tier:
  app_tier:
